.story-wrap {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: space-between;
    position: relative;
}

/*コンテンツ*/
.story-container {
    width: 40%;
}

.story-container div {
    padding-top: 50vh;
}

.story-container div:last-child {
    padding-bottom: 50vh;
}

.story-container div h2 {
    font-size: 2rem;
    text-align: left;
}

.story-container div p {
    margin-top: 30px;
    text-align: left;
    line-height: 170%;
}

.story-lead {
    text-align: center;
    font-size: max(12px, 2vw);
}

.story-title {
    color: #D79D27;
}

.story-title > span {
    font-size: 14px;
    margin-left: 20px;
}

/*イメージ*/
.images-container {
    width: 55%;
    height: 100vh;
    display: flex;
    align-items: center;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

.images-container p {
    height: 650px;
    margin: auto;
    display: block;
    visibility: hidden;
    position: absolute;
    top: calc(50% - 80px);
    bottom: 0;
    transition: .8s !important;
    opacity: 0;
}

.images-container p:first-child,
.images-container p.active {
    visibility: visible;
    opacity: 1;
}

.story-sp {
    margin-bottom: 8rem;
}

.story-section {
    padding-top: 40px;
}

@media screen and (min-width:992px),
print {
    .story-sp {
        display: none;
    }
}

@media screen and (max-width: 991px) {
    .story-wrap {
        display: none;
    }

    .story-section>h2 {
        font-size: 20px;
    }

    .story-section>p {
        text-align: justify;
        padding: 1rem 0;
    }
}

/* 動く参考css ここから*/
.glowAnime span{opacity: 0;}

/*アニメーションで透過を0から1に変化させtext-shadowをつける*/
.glowAnime.glow span{ animation:glow_anime_on 1s ease-out forwards; }

@keyframes glow_anime_on{
	0% { opacity:0; text-shadow: 0 0 0 #fff,0 0 0 #fff;}
	50% { opacity:1;text-shadow: 0 0 10px #fff,0 0 15px #fff; }
	100% { opacity:1; text-shadow: 0 0 0 #fff,0 0 0 #fff;}
}